<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />-->
  <add name="NFineDbContext" connectionString="server=192.168.2.55;uid=sa;pwd=123456;database=NFineBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>